<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<ConnectionStrings>
	<add name = "dbcs" connectionString ="Data Source=DESKTOP-9R6HVB2\SQLEXPRESS;Initial Catalog=WINFORM_DB;Integrated Security=True" providerName =" System.Data.Client" />
</ConnectionStrings>
</configuration>